.worker-card {
  background: white;
  height: 220px;
  position: relative;
  margin: 20px;
  box-shadow: 2px 2px 20px rgb(206, 206, 206);
  animation: 0.3s ease-out 0s 1 slideInBottom;
  .worker-card-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card-header {
      padding: 15px 20px;
      font-weight: 800;
      color: #07c7f2;
    }
    .card-description {
      padding: 5px 20px;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .worker-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    .worker-photo {
      margin: 15px;
      width: 90px;
      height: auto;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .worker-card-info {
      padding: 10px;
      line-height: 20px;
    }
    .worker-name {
      font-weight: 800;
      font-size: 18px;
    }
  }
  .deadline {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
  }
}
.deadline-text {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
}

.small {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .worker-card {
    height: 250px;
  }
}
