.list-container {
  background: #f0f5f8;
  display: flex;
  flex-direction: column;
  //   padding: 10px;
  animation: 0.3s ease-out 0s 1 slideInBottom;
}

@media only screen and (max-width: 600px) {
  .list-container {
  }
}
