* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  background: #f0f5f8;
  max-width: 1000px;
  width: 100%;
  border: 2px solid black;
  margin: 0 auto;
}

@import "./workOrdersList";
@import "./workerCard";
@import "./input";
